
.innerConteiner{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.innerConteiner h1{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0   ;
}
.messageConteiner{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    padding: 10px;
    background-color: rgb(43, 43, 58);
    color: white;
    width: 50%;
    height: 500px;
    border-radius: 30px;
   
}
.innerConteiner form{
    background-color: black;
    height: 50px;
    width: 50%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message{
    border-radius: 15px;
    padding: 10px;
    border: none;
    width: 50%;

}
#send{
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    color: white;
    border: none;
}
.chatMessage{
    background-color: rgb(86, 86, 117);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(27, 27, 39);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;

}
.chatMessage h3{
    font-size: 16px;
    margin: 0;
}
.chatMessage p{
    font-size: 22px;
    margin: 0;
}



