<section>
    <article class="innerConteiner"id="inneConteiner">
        <div class="messageConteiner" id="messageConteiner">
            

        </div>
        <form >
        <input id="message" type="text" placeholder="Mensaje...">
        <button id="send" type="button">Enviar</button>
        </form>
    </article>
</section>



<script src="/socket.io/socket.io.js" ></script>
<script type="module" src= "/js/chat.js"></script>
