<section>
    <article>
        <h1>Login</h1>
        <form method="post" id="loginForm">
            <input type="email" name="email" id="email" placeholder="Ingrese su e-mail" required>
            <input type="password" id="password" name="password" placeholder="Ingrese su Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>
        <p>No tienes una cuenta todavia? <a href="http://localhost:8080/api/users/register">Registrate aquí</a></p>
    </article>
</section>

<script src="/js/login.js"></script>