

<h1>Para restaurar la contraseña debes ingresar tu email y hacer click en el boton para enviarte un correo de recuperacion</h1>

<div  style="max-width: 560px;">
    <form id="form">
        <div>
            <input type="email" name="email" placeholder="E-mail...">
        </div>
        <div>
            <button type="submit">Enviar correo para restablecer la contraseña</button>
        </div>
    </form>
</div>
<script src="/js/mailer.js"></script>