<section>
    <article class="mainConteiner">
        <h1>Registrate aquí</h1>
        <form class="form" action="" method="post" id="registerForm">
            <input type="text" name="first_name" id="name" placeholder="Nombre..." required>
            <input type="text" id="last_name" name="last_name" placeholder="Apellido..." required>
            <input type="email" name="email" id="email" placeholder="Ingrese su e-mail" required>
            <input type="text" id="age" name="age" placeholder="Edad..." required>
            <input type="password" id="password" name="password" placeholder="Contraseña..." required>
            <button class="register" type="submit">Registrarme</button>
        </form>
    </article>
</section>

<script src="/js/register.js"></script>