<h1 >Restaura tu contraseña</h1>
<div  style="max-width: 560px;">
    <form id="form">
        <div>
            <input type="email" name="email" placeholder="E-mail...">
        </div>
        <div>
            <input type="password" name="password" placeholder="Nueva Contraseña...">
        </div>
        <div>
            <button type="submit">Restaurar</button>
        </div>
    </form>
</div>
    <p><a href="/login">Iniciar sesion</a></p>

<script src="/js/restore.js"></script>